* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.masthead {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 700px;

}

.header-container {
    /* border: 1px solid red; */
    max-width: 1200px;;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.title {
    color: #FEC503;
    font-family: 'Kaushan Script', cursive;
}

nav {
    display: flex;
    padding: 0.3rem 1rem;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

li {
    list-style: none;
    margin: 0 1rem;
}

li:hover {
    cursor: pointer;
}

i {
    border: 1px solid purple;
    display: none !important;
    background: #FEC503;
    padding: .65rem;
    display: flex;
    border-radius: 5px;
}

.intro-container {
    /* border: 1px white solid; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 200px;
}

.intro-lead-in {
    /* border: 1px purple solid; */
    font-size: 40px;
    font-style: italic;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.intro-heading {
    /* border: 1px green solid; */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 50px;
}

.btn {
    /* border: 2px black solid; */
    color: #FFFFFF;
    background: #FEC503;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;

}

@media (max-width: 1200px) {
    .header-container {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 990px) {
    .header-container {
        max-width: 960;
        background: #2B2B2D;
    }
    .title > h2 {
        font-size: 1em;
    }
    li {
        display: none;
    }
    i {
        display: inline-block !important;
    }
    .intro-heading {
        width: 60%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}